body {
    font-family: 'Arial', sans-serif;
    background-color: #EEE7DA;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    height: 65vh;
    width: 50vh;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(31, 31, 31, 0.1);
  }

  form {
    display: flex;
    flex-direction: column;
  }

h3 {
    color: rgb(37, 27, 92);
}

  label {
    color: #16302f;
    margin-bottom: 8px;
    
  }
  
  input {
    padding: 8px;
    margin-bottom: 16px;
  }

  button {
    background-color: #65B741;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }

  .thanks {
    height: 20vh;
    width: 60vh;
  }
  